* {
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: fit-content;
}

* p {
  padding-top: 20px;
  font-size: 20px;
  font-family: "Signika", sans-serif;
}

.card-header {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to left, white, white);
}

.card-header h3 {
  color: black;
  font-family: "Playfair Display SC", serif;
  font-weight: bolder;
}

.output {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  font-size: large;
  letter-spacing: 1px;
}

#warehouse0,
#ambient,
#freeze {
  background-color: white;
  width: 100px;
  text-align: center;
  font-size: large;
}

body input {
  background-color: rgb(223, 219, 211) !important;
  color: black;
}

input:valid {
  color: green !important;
  background-color: rgb(223, 219, 211) !important;
  border: solid limegreen !important;
  border-radius: 5px;
  accent-color: black;
}

form {
  font-family: "Poppins", sans-serif;
  font-size: large;
}
.section {
  /*
  border: 10px solid;
   color: darkslategrey;
   */
  height: 100%;
}

.prevSection {
  background-color: tomato;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  font-family: "Signika", sans-serif;
  padding-bottom: 7px;
  margin-top: 10%;
  margin-right: 50px;
}

.nextSection {
  background-color: aqua;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  font-family: "Signika", sans-serif;
  padding-bottom: 7px;
  margin-top: 10%;
  margin-left: 50px;
}
